* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --container-width: 1280px;
    --bg-color: #f6fffe;
    --component-bg-color: #d6d4d4;
    --primary-color: #080808;
    --default-font-size-p: 1rem;
    --font-size-h1: 3rem;
    --component-height: 40vh;
    --component-width: 100%;
    --component-padding: 2rem;
    --component-gap: 30px;
    --font-size: 1rem;
    --section-gap-bottom: 6rem;
    --section-padding: 3rem;
    --text-alignment: center;
    --flex-direction: row;
    --justify-content: space-between;
    --align-items: center;
    --navlinks-gap: 15px;
    --hamburger-toggle: none;
    --margin-bottom-navbar: 6rem;
}

body {
    background-color: var(--bg-color);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
}

h1 {
    font-size: var(--font-size-h1);
}

p {
    color: var(--primary-color);
    font-size: var(--default-font-size-p);
}

a {
    color: inherit;
}

section {
    margin-bottom: var(--section-gap-bottom);
}

.banner {
    padding: var(--section-padding);
    display: flex;
    text-align: var(--text-alignment);
    background-color: var(--component-bg-color);
}

.navbar {
    background-color: var(--component-bg-color);
    display: flex;
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    height: 60px;
    padding: 0 15px;
    margin-bottom: var(--margin-bottom-navbar);
}

.nav-items {
    display: flex;
    flex-direction: var(--flex-direction);
    gap: var(--navlinks-gap);
}

.hamburger {
    display: var(--hamburger-toggle);
    border: 1px solid black;
    padding: 5px;
}

.video-elevetor,
.testimonials-review {
    display: flex;
    flex-direction: var(--flex-direction);
    justify-content: var(--justify-content);
    width: var(--component-width);
    gap: var(--component-gap);
}

.video,
.elevetor {
    min-height: var(--component-height);
    padding: var(--component-padding);
    background-color: var(--component-bg-color);
    flex: 1;
    text-align: var(--text-alignment);
}

.form,
.benifits {
    min-height: var(--component-height);
    padding: var(--section-padding);
    text-align: var(--text-alignment);
    background-color: var(--component-bg-color);
    width: var(--component-width);
}

.testimonials,
.reviews {
    min-height: var(--component-height);
    background-color: var(--component-bg-color);
    flex: 1;
    text-align: var(--text-alignment);
    padding: var(--component-padding);
}

.results {
    padding: var(--section-padding);
    text-align: var(--text-alignment);
    background-color: var(--component-bg-color);
    text-align: var(--text-alignment);
    min-height: var(--component-height);
}

.blogs {
    background-color: var(--component-bg-color);
    text-align: var(--text-alignment);
    padding: var(--section-padding);
}

.blogs-container {
    display: flex;
    flex-direction: var(--flex-direction);
    justify-content: var(--justify-content);
    align-items: var(--align-items);
    gap: var(--component-gap);
    width: var(--component-width);
    margin-top: 20px;
}

.blog-card {
    border: 1px solid #000000;
    width: var(--component-width);
}

footer {
    background-color: var(--component-bg-color);
    padding: 25px;
    text-align: var(--text-alignment);
}

@media only screen and (max-width: 668px) {
    :root {
        --default-font-size-p: 0.8rem;
        --font-size-h1: 1.5rem;
        --component-padding: 1.5rem;
        --section-gap-bottom: 3rem;
        --flex-direction: column;
        --section-padding: 1.5rem;
        --justify-content: space-between;
        --align-items: center;
        --component-gap: 15px;
        --gap: 0 15px;
        --hamburger-toggle: block;
        --margin-bottom-navbar: 3rem;
    }

    .nav-items {
        display: none;
    }

}